h1 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom:25px;
}
body::-webkit-scrollbar {
  background: rgba(0,0,0, 0.5);
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: #0284c7;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.header {
  display:flex;
  flex-wrap: nowrap;
  background: #00000080;
  height: max-content;
  color: white;
  padding: 2em;
  justify-content: start;
  align-items: center;
  gap: 2.5em;
}
.home {
  flex-grow: 1;
  text-align:end;
}
.home > a{
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: font-weight 0.5s ease, font-size 0.5s ease;
}
.home > a > button {
  cursor: pointer;
  color: white;
  background: #00000080;
  border-radius: 15px;
  border: 1px solid black;
  width: 5em;
  font-size: 20px;
  font-family: Kanit;
  transition: background 1s ease, box-shadow 1s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.home > a > button:hover {
  background: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.footer {
  background: #00000080;
  height: max-content;
  color: white;
  padding: 1.5em;
  text-align:start;
  width: 100%;
  position: relative;
  bottom : 0;
  left: 0;
  box-sizing: border-box;
  margin-top:auto;
  z-index: -1;
}
.web {
  margin:0 25px 25px 25px;
}
body {
  background-color: #222d35 ;
  margin: 0;
}
.column {
  column-count: 2;
  column-gap: 1em;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.column > div {
  break-inside: avoid;
}
.title-box {
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left:10px;
  padding-right:10px;
  border-radius: 15px;
  margin-bottom: 1em;
  border: 1px solid #0284c7;
  background: linear-gradient(to bottom, #0284c780, #0284c720);
}
.contents-box {
  border: 1px solid #f0f9ff;
  background: linear-gradient(to bottom, #f0f9ff80, #f0f9ff20);
  border-radius: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:2em;
  padding-right:2em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: center;
  flex-wrap: wrap;
}
.contentline {
  border-right: 1px solid #ffffff40; 
  padding-right: 1em;
}
.inex {
  border-right: 1px solid #ffffff40;
}
.contents-box > div > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.contents-box > div > a:hover {
  font-weight: bold;
  font-size: large;
  background-color: #ffffff40;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

/* blue block */
.blue-block {
  overflow-y: auto;
  border: 1px solid #0284c7;
  background: linear-gradient(to bottom, #0284c780, #0284c720);
  padding: 1em;
  border-radius: 15px;
  color: white;
  margin-bottom: 1em;
  transition: 0.5s;
}
.blue-block::-webkit-scrollbar {
  background: #0284c740;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.blue-block::-webkit-scrollbar-thumb {
  background: #0284c7;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.blue-block:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px #0284c7;
}
/* blue block */

/* white block */
.white-block {
  overflow-y: auto;
  border: 1px solid #f0f9ff;
  background: linear-gradient(to bottom, #f0f9ff80, #f0f9ff20);
  padding: 1em;
  border-radius: 15px;
  color:white;
  margin-bottom: 1em;
  transition: 0.5s;
}
.white-block::-webkit-scrollbar {
  background: #f0f9ff40;
  border-radius: 25px;
  width: 15px;
  height: 15px;
}
.white-block::-webkit-scrollbar-thumb {
  background: #f0f9ff;
  border-radius: 25px;
  width: 50%;
  height: 15px;
}
.white-block:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px #f0f9ff;
}
/* white block */
.tb {
  display:grid;
  grid-template-columns: 12em repeat(2,max-content);
}
.tb > div {
  padding: 1em;
}
.tb>div:nth-child(-n+3) {
  border-bottom: solid 1px #f0f9ff40;
}
.ine {
  display:grid;
  grid-template-columns: repeat(4,max-content);
}
.ine >div{
  padding: 1em;
}
/* buttons */
.buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  position: fixed;
  inset: auto 15px 15px auto;
}
/* buttons */

/* gotop button */
.gotop {
  width: 5em;
  height: 3em;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #0284c780;
  transition: background-color 1s ease, box-shadow 1s ease;
}
.gotop:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0, 1);
}
.uppy {
  filter: invert(1);
  opacity: 0.5;
}
.gotop:hover .uppy {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* gotop button */

/* sectionbtn */
.sectionbtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid 1px black;
  box-shadow:0 0 5px #0284c780;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.sectionbtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.sectionbtn:focus {
  outline: none;
}
select.sectionbtn {
  color: rgba(255,255,255,0.5);
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
  font-weight: bold;
}
select.sectionbtn:hover {
  color: white;
}
select.sectionbtn div {
  color: white;
  font-family: 'Kanit', sans-serif;
  appearance: none;
  text-align: center;
}
select.sectionbtn option {
  color: white;
  font-family: 'Kanit', sans-serif;
  background-color:#1f1f1f;
}
/* sectionbtn */

/* themebtn */
.themebtn {
  width: 5em ;
  height: 3em ;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border: solid 1px black;
  box-shadow:0 0 5px #0284c780;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
.themebtn:hover {
  background-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,1);
}
.themeicon {
  filter: invert(1);
  opacity: 0.5;
}
.themebtn:hover .themeicon {
  transition: opacity 1s ease;  
  opacity: 1;
}
/* themebtn */

/* view on phone */
@media (max-width: 767px) {
  .title-box,
  .content-box {
    column-count: 1;
    column-width: auto;
  }
  .column {
    column-count: 1;
    column-width: auto;
  }
  .header > div > h1 {
    font-size: 36px !important;
  }
  .header > div > img {
    width: 50px !important;
    height: 50px !important;
  }
  .header {
    gap: 1.5em;
    height: 3em;
  }
}

/*view on ipad*/
@media (min-width: 768px) and (max-width: 1024px) and (min-device-aspect-ratio: 4/3) {
  .column {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}

/* lightth */
body.light {
  background-color: #cfebff;
}

body.light::-webkit-scrollbar {
  background: #ffffff80;
}

body.light::-webkit-scrollbar-thumb {
  background: #7ed4ff;
}

body.light .title-box {
  color: #13435b;
  border-color: #7ed4ff;
  background: linear-gradient(to bottom, #7ed4ff80, #7ed4ff20);
}

body.light .contents-box {
  color: #13435b;
  border-color: #f0f9ff;
  background: linear-gradient(to bottom, #f0f9ff80, #f0f9ff40);
}

body.light .contentline {
  border-right: 1px solid #13435b40;
}

body.light .contents-box > div > a {
  color: #13435b;
}

body.light .contents-box > div > a:hover {
  background-color: #7ed4ff40;
}

body.light .blue-block {
  color: #13435b;
  border-color: #7ed4ff;
  background: linear-gradient(to bottom, #7ed4ff80, #7ed4ff20);
}

body.light .blue-block::-webkit-scrollbar {
  background: #7ed4ff40;
}

body.light .blue-block::-webkit-scrollbar-thumb {
  background: #7ed4ff;
}

body.light .blue-block:hover {
  box-shadow: 0px 0px 10px #7ed4ff;
}

body.light .white-block {
  color: #13435b;
  border-color: #f0f9ff;
  background: linear-gradient(to bottom, #f0f9ff80, #f0f9ff40);
}

body.light .white-block::-webkit-scrollbar {
  background: #f0f9ff40;
}

body.light .white-block::-webkit-scrollbar-thumb {
  background: #f0f9ff;
}

body.light .white-block:hover {
  box-shadow: 0px 0px 10px #f0f9ff;
}

body.light .tb>div:nth-child(-n+3) {
  border-bottom: solid 1px #13435b40;
}

body.light .inex {
  border-right: solid 1px #13435b40;
}

/*bottons*/
body.light .gotop, body.light .themebtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px #ffffff80;
  box-shadow:0 0 5px #7ed4ff80;
  transition: background-color 1s ease, box-shadow 1s ease;
}
body.light .gotop:hover, body.light .themebtn:hover {
  background-color: #ffffff80;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
body.light .uppy, body.light .themeicon {
  filter: invert(0);
  opacity: 0.5;
}
body.light .sectionbtn {
  background-color: rgba(255,255,255,0.5);
  border: solid 1px #ffffff80;
  box-shadow:0 0 5px #7ed4ff80;
  transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}
body.light .sectionbtn:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(255,255,255,1);
}
body.light select.sectionbtn {
  color: rgba(0,0,0,0.5);
}
body.light select.sectionbtn:hover {
  color: black;
}
body.light select.sectionbtn div {
  color: black;
}
body.light select.sectionbtn option {
  color: black;
  background-color:white;
}

body.light .header, body.light .footer {
  background: #ffffff80;
  color: #13364e;
}
body.light .home>a {
  color: #13364e;
}
body.light .home > a{
  color: #13364e;
}
body.light .home > a > button {
  color: #13364e;
  background: #ffffff80;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
body.light .home > a > button:hover {
  background: white;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}
/* lightth */